/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: -1;
}

.owl-carousel .owl-animated-out {
  z-index: 9;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel .owl-rtl {
  direction: rtl;
}

.owl-carousel .owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-controls {
  text-align: right;
  -webkit-tap-highlight-color: transparent;
  margin-top: 25px;
  margin-bottom: 0px;
  position: relative;
}

.owl-carousel .owl-nav {
  width: 80px;
  height: 40px;
  float: right;
  margin: 20px 0px 0px 0px !important;
  padding: 0px !important;
  position: relative;
}

.owl-carousel .owl-nav [class*='owl-'],
.owl-carousel .owl-nav [class*='owl-']:focus {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  border-radius: 0px !important;
  outline: none !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.owl-carousel .owl-nav .owl-prev {
  right: 40px;
  bottom: 0px;
}

.owl-carousel .owl-nav .owl-next {
  right: 0px;
  bottom: 0px;
}

.owl-carousel .owl-nav [class*='owl-']:hover {
  text-decoration: none;
  opacity: 1;
}

.owl-carousel .owl-nav .disabled {
  opacity: 0.2 !important;
  cursor: default;
  pointer-events: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  color: #fff;
  padding: 0 !important;
}

.owl-carousel .owl-nav .owl-prev:before {
  font-family: 'dvteam';
  content: '\f007';
  line-height: 40px;
}

.owl-carousel .owl-nav .owl-next:before {
  font-family: 'dvteam';
  content: '\f006';
  line-height: 40px;
}